/* thanks for tuning in */

.clear {
	clear: both;
}


/* sizes of the columns */

.column-12 {
	width: 100%;
}

.column-11 {
	width: 91.66667%;
}

.column-10 {
	width: 83.3333%;
}

.column-9 {
	width: 75%;
}

.column-8 {
	width: 66.6667%;
}

.column-7 {
	width: 58.3333%;
}

.column-6 {
	width: 50%;
}

.column-5 {
	width: 41.6667%;
}

.column-4 {
	width: 33.333%;
}

.column-3 {
	width: 25%;
}

.column-2 {
	width: 16.6667%;
}

.column-1 {
	width: 8.333%;
}
