/* thanks for tuning in */

/* some training wheel shit */

.column-3 {
	background-color: grey;
}


/* the essentials */

body {
	position: relative;
	padding: 0;
	margin: 0;
}

div {
	display: block;
}

/* 
+ Every framework needs a row. 
+ This is where all the columns in one row live. 
+ This is so that you can have a second row of columns that don't have the same number of columns 
*/



.row {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 5%;
	max-width: 62.5rem;
	clear: both;
}

.row:after {
	clear: both;
}

.row:before, .row:after {
	content: " ";
	display: table;
}

/* 
+ These columns need to start somewhere 
+ Plus this makes it so they don't line up on top of eachother
*/

.columns {
	float: left;
	text-align: center;	
}

/* 
+ Sizes of the columns 
+ This breaks each column into the correct size. 
+ For example: .column-6 will take of half the row because its width is 50%
*/

.column-12 {
	width: 100%;
}

.column-11 {
	width: 91.66667%;
}

.column-10 {
	width: 83.3333%;
}

.column-9 {
	width: 75%;
}

.column-8 {
	width: 66.6667%;
}

.column-7 {
	width: 58.3333%;
}

.column-6 {
	width: 50%;
}

.column-5 {
	width: 41.6667%;
}

.column-4 {
	width: 33.333%;
}

.column-3 {
	width: 25%;
}

.column-2 {
	width: 16.6667%;
}

.column-1 {
	width: 8.333%;

}

/* 
+ There needs to be some padding on these columns 
+ What if you don't want to fill up the entire column with content but instead nice white space?
+ Some type of panel and padding for the columns so that aren't so close together
*/


